:root{
--branco-principal:#FFFFFF;
--cinza-secundario:#c0c0c0;
--botao-azul:#167BF7;
--cor-de-fundo:#00030c;
}

body{
background-color: var(--cor-de-fundo);
color: var(--branco-principal);

}
*{
    margin: 0;
    padding: 0;
    
}

#button{
   display: inline-block;
   background-color: antiquewhite;
   box-shadow: 5px 5px 0px #000;
   padding: 18px 20px;
   margin-right: 0;

}

#button:hover{
    transform: scale(1.08);
}